// Colors
$primary: #273F33;
$secondary: #A2BDAA;
$lightBackground: #F6FBF9;

$white: white;

$black: black;
$text-black: #253D32;
$text-grayish-green: #78847D;

// Fonts
$font-weights: (
    'light' : 300,
    'regular' : 400,
    'medium' : 500,
    'semibold' : 600,
    'bold' : 700
);
